body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #021a38;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-body {
  margin-top: 20px;
}

.nav-bar {
  background-color: #000;
  padding: 20px 600px;
}

.navbar-text {
  color: #fff;
}

.navbar-text:hover {
  color: #fff;
}

.spinner {
  background: #021a38;
  color: #ffff;
}

.search-section {
  background: #021a38;
}

.search-btn {
  color: #fff; 
  border: 1px solid #fff; 
}

.search-btn:hover {
  background: #021a38 !important;
  color: #fff;
  border: 1px solid #fff !important;
}
