body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #021a38;
}

/* HOME/INDEX.JS STYLING STARTS */

.main-body {
  margin-top: 20px;
}

/* HOME/INDEX.JS STYLING ENDS */

/* NAVBAR STYLING STARTS */

.nav-bar {
  background-color: #000;
  padding: 20px 600px;
}

.navbar-text {
  color: #fff;
}

.navbar-text:hover {
  color: #fff;
}

/* NAVBAR STYLING ENDS */

/* LOADER/INDEX.JS STARTS */

.spinner {
  background: #021a38;
  color: #ffff;
}

/* LOADER/INDEX.JS ENDS */

/* SEARCH/INDEX.JS STARTS */

.search-section {
  background: #021a38;
}

.search-btn {
  color: #fff; 
  border: 1px solid #fff; 
}

.search-btn:hover {
  background: #021a38 !important;
  color: #fff;
  border: 1px solid #fff !important;
}

/* SEARCH/INDEX.JS STARTS */

/* IMAGECARD/INDEX.JS STARTS */

.image-card {
  padding: 2px;
  margin: 2px;
}

/* IMAGECARD/INDEX.JS ENDS */